<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Agregar Revision</title>
        <link rel="icon" href="/images/logo.png" type="image/png">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Student Management System</a>

            <!-- Toggler/Collapse Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/usuario}">Mantenedor Usuario</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cliente}">Mantenedor Cliente</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/producto}">Mantenedor Producto</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                    <h1 class = "text-center"> Crear Nueva Revision</h1>
                    <div class="card-body">
                   <form th:action="@{/revision}" th:object="${revisiones}" method="POST">
							    <!-- Campo oculto para el id_personal -->
						    <div class="form-group"  style="display: none">
						        <label>Codigo</label>
						        <input type="text" name="revisionId" th:field="*{revisionId}"
						               class="form-control" placeholder="Ingresar Codigo" />
						    </div>
							<div class="form-group">
					            <label for="bus">Bus</label>
					            <select id="bus" name="bus" th:field="*{bus}" class="form-control">
					                <option th:each="bus : ${buses}" th:value="${bus.idBus}" th:text="${bus.modelo}"></option>
					            </select>
      					 	</div>
						 	 <div class="form-group">
					            <label for="fechaRevision">Fecha de Revision</label>
					            <input type="date" id="fechaRevision" name="fechaRevision" th:field="*{fechaRevision}" class="form-control" />
					        </div>
					        <div class="form-group">
					            <label for="tipoRevision">Tipo de Revision</label>
					            <input type="text" id="tipoRevision" name="tipoRevision" th:field="*{tipoRevision}" class="form-control" />
					        </div>
					        <div class="form-group">
					            <label for="resultado">Resultado</label>
					            <input type="text" id="resultado" name="resultado" th:field="*{resultado}" class="form-control" />
					        </div>
					        <div class="form-group">
					            <label for="observaciones">Observaciones</label>
					            <input type="text" id="observaciones" name="observaciones" th:field="*{observaciones}" class="form-control" />
					        </div>

						   

						    <!-- Botón para enviar el formulario -->
						    <div class="box-footer">
						        <button type="submit" class="btn btn-primary">Enviar</button>
						    </div>
						</form>
						                   
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>